#include <physical_layouts.dtsi>

/ {
    caelum_layout: caelum_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   60   93       0     0     0>
            , <&key_physical_attrs 100 100  160   93       0     0     0>
            , <&key_physical_attrs 100 100  269   64     300 (-135)  (-7)>
            , <&key_physical_attrs 100 100  376   45     500 (-135)  (-7)>
            , <&key_physical_attrs 100 100  482   25     700 (-135)  (-7)>
            , <&key_physical_attrs 100 100  587    0     900 (-135)  (-7)>
            , <&key_physical_attrs 100 100  850  322 (-1000) (-135)  (-7)>
            , <&key_physical_attrs 100 100  950  322 (-1000) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1065  281  (-800) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1177  237  (-600) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1288  190  (-400) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1397  141  (-200) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1505   93       0     0     0>
            , <&key_physical_attrs 200 100 1605   93       0     0     0>
            , <&key_physical_attrs 150 100   40  193       0     0     0>
            , <&key_physical_attrs 100 100  190  193       0     0     0>
            , <&key_physical_attrs 100 100  305  166     300 (-135)  (-7)>
            , <&key_physical_attrs 100 100  415  148     500 (-135)  (-7)>
            , <&key_physical_attrs 100 100  527  115     800 (-135)  (-7)>
            , <&key_physical_attrs 100 100  632  102     900 (-135)  (-7)>
            , <&key_physical_attrs 100 100  880  422 (-1000) (-135)  (-7)>
            , <&key_physical_attrs 100 100  999  384  (-800) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1115  339  (-600) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1230  291  (-400) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1344  243  (-200) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1455  193       0     0     0>
            , <&key_physical_attrs 100 100 1555  193       0     0     0>
            , <&key_physical_attrs 150 100 1655  193       0     0     0>
            , <&key_physical_attrs 175 100   20  293       0     0     0>
            , <&key_physical_attrs 100 100  195  293       0     0     0>
            , <&key_physical_attrs 100 100  317  268     300 (-135)  (-7)>
            , <&key_physical_attrs 100 100  430  250     500 (-135)  (-7)>
            , <&key_physical_attrs 100 100  549  216     800 (-135)  (-7)>
            , <&key_physical_attrs 100 100  656  203     900 (-135)  (-7)>
            , <&key_physical_attrs 100 100  901  505  (-900) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1021  463  (-700) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1140  417  (-500) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1265  344  (-200) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1380  293       0     0     0>
            , <&key_physical_attrs 100 100 1480  293       0     0     0>
            , <&key_physical_attrs 225 100 1580  293       0     0     0>
            , <&key_physical_attrs 225 100    0  393       0     0     0>
            , <&key_physical_attrs 100 100  225  393       0     0     0>
            , <&key_physical_attrs 100 100  351  370     300 (-135)  (-7)>
            , <&key_physical_attrs 100 100  475  339     600 (-135)  (-7)>
            , <&key_physical_attrs 100 100  591  316     800 (-135)  (-7)>
            , <&key_physical_attrs 100 100  706  288    1000 (-135)  (-7)>
            , <&key_physical_attrs 100 100  851  615  (-950) (-135)  (-7)>
            , <&key_physical_attrs 100 100  976  576  (-750) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1094  542  (-600) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1226  471  (-300) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1355  393       0     0     0>
            , <&key_physical_attrs 100 100 1455  393       0     0     0>
            , <&key_physical_attrs 100 100 1555  393       0     0     0>
            , <&key_physical_attrs 150 100 1655  393       0     0     0>
            , <&key_physical_attrs 125 100    0  493       0     0     0>
            , <&key_physical_attrs 125 100  125  493       0     0     0>
            , <&key_physical_attrs 125 100  265  484     150 (-135)  (-7)>
            , <&key_physical_attrs 100 100  426  456     450 (-135)  (-7)>
            , <&key_physical_attrs 225 100  577  400     930 (-135)  (-7)>
            , <&key_physical_attrs 275 100  861  704  (-880) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1210  578  (-330) (-135)  (-7)>
            , <&key_physical_attrs 100 100 1350  493       0     0     0>
            , <&key_physical_attrs 100 100 1455  493       0     0     0>
            , <&key_physical_attrs 100 100 1555  493       0     0     0>
            , <&key_physical_attrs 100 100 1655  493       0     0     0>
            ;
    };
};
