if SHIELD_CAELUM_LEFT || SHIELD_CALUM_RIGHT

config ZMK_KEYBOARD_NAME
    default "Caelum"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CAELUM_LEFT || SHIELD_CAELUM_RIGHT

config ZMK_SPLIT
    default y

endif